* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

.home {

}

/*.home, .nav, .chat-room, .message-send {
  border: solid 1px red;
}*/

.first-row {
  min-height: inherit;
}

.nav {
  padding: 0 0 0 15px;
  height: inherit;
}

.nav-menu {
  margin-top: 10px;
}

/* Where all chat messages appear */
.chat-room {
  max-height: 739px;
  overflow: scroll;
}

.message-box { /* a single message */

}

/* Text entry for messages */
.message-send {
  margin-top: 10px;
}

.text-input {
  width: 90%;
  display: inline-block;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
