<nav>
  <h2>Bloc Chat</h2>
    <ui>
        <li ng-repeat="room in rooms"><button type="button" class="btn btn-default" ng-click="getByRoomId(room.$id)">{{ room.roomName }}</button></li>
    </ui>
    <br />
    <button type="button" class="btn btn-default" ng-click="open()">Add Room</button>
</nav>
<div class="chat-room">
  <h1>{{ rooms.roomName }}</h1>
  <div class="message-box" ng-repeat="message in messages">
    <div class="user-name">
      {{ message.username }}
    </div>
    <div class="message-time">
      {{ message.sentAt }}
    </div>
    <div class="message-body">
      {{ message.content }}
    </div>
  </div>
</div>
<div class="message-send">
  <form>
    <input type="text" class="form-control finderBar" ng-model="content" placeholder="Message..." autofocus>
    <span class="input-group-btn">
    <button class="btn btn-default btn-success" type="button" ng-click="sendMessage()">Send</button>
  </form>
</div>
